---
title: 'Iteration'
author: 'Isabella McCarty'
embed-resources: true
format: 
    html:
        code-fold: true
        theme: minty
---

0. Load the `penguins` dataset from the `palmerpenguins` library, as well as any other libraries you need.

In [113]:
from palmerpenguins import load_penguins

# Load the dataset
penguins = load_penguins()
penguins.dropna()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,male,2007
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,female,2007
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,female,2007
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,female,2007
5,Adelie,Torgersen,39.3,20.6,190.0,3650.0,male,2007
...,...,...,...,...,...,...,...,...
339,Chinstrap,Dream,55.8,19.8,207.0,4000.0,male,2009
340,Chinstrap,Dream,43.5,18.1,202.0,3400.0,female,2009
341,Chinstrap,Dream,49.6,18.2,193.0,3775.0,male,2009
342,Chinstrap,Dream,50.8,19.0,210.0,4100.0,male,2009
343,Chinstrap,Dream,50.2,18.7,198.0,3775.0,female,2009

1. Write a function that takes in information about a penguin, and returns one of the following definitions:

*   "Big Mouth Billy": Male penguins with bill length times bill depth greater than 800.
*   "Dainty Daisy": Female penguins with flipper length less than 5% of body mass.
*   "Average Adelie:" Any Adelie penguins that do not fall into either category.
*   "Other": Any penguins that do not fall into any of the categories.

In [114]:
def define_penguins(bill_length, bill_depth, body_mass, flipper_length, sex, species):
    if sex == "male" and bill_length * bill_depth > 800:
        return "Big Mouth Billy"
    elif sex == "female" and flipper_length < 0.05 * body_mass:
        return "Dainty Daisy"
    elif species == "Adelie" and bill_length * bill_depth < 800 and flipper_length > 0.05 * body_mass:
        return "Average Adelie"
    else:
        return "Other"

2. Use an iterable function to create a new variable called `category_name` that adds these labels.

In [115]:
# Apply the define_penguins function to each row
penguins['category_name'] = penguins.apply(
    lambda row: define_penguins(row['bill_length_mm'], 
                                row['bill_depth_mm'], 
                                row['body_mass_g'], 
                                row['flipper_length_mm'], 
                                row['sex'], 
                                row['species']), axis=1)

3. Run the following code to find the counts for each type.

In [116]:
penguins.value_counts("category_name")

category_name
Other              126
Average Adelie      85
Big Mouth Billy     71
Dainty Daisy        62
Name: count, dtype: int64